@use "../global/setting/" as gs;
@use "../global/mixin/" as gm;

footer {
    padding-top: 48px;
    padding-bottom: 40px;

    @include gm.pc {
        padding-top: 196px;
        padding-bottom: 163px;
    }

    .footer-inner {
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;

        @include gm.pc {
            max-width: 1180px;
            justify-content: space-between;
            flex-direction: row;
        }


        .map {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            /* 16:9のアスペクト比 */
            height: 0;

            @include gm.pc {
                width: 51.52%;
                padding-bottom: 440px;
            }
        }
        
        .map iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }



        .footer-info {
            text-align: center;
            position: relative;

            @include gm.pc {
                width: 45.5%;
                text-align: start;
            }

            .footer-logo {
                max-width: 180px;
                margin-bottom: 32px;
                margin-right: auto;
                margin-left: auto;

                @include gm.pc {
                    max-width: 263px;
                    margin-right: 0;
                    margin-left: 0;
                    margin-bottom: 52px;
                }
            }

            .footer-address {
                display: flex;
                flex-direction: column;
                // margin-bottom: 25px;
                // justify-content: center;
                text-align: left;
                max-width: 180px;
                margin: 0 auto 25px;

                @include gm.pc {
                    flex-direction: row;
                    justify-content: start;
                    max-width: none;
                }

                p:first-child {

                    @include gm.pc {
                        margin-right: 16px;
                    }
                }
            }

            .tel {
                margin-bottom: 28px;
            }

            .medical-info {
                border-top: 2px solid #E7E7E7;
                border-bottom: 2px solid #E7E7E7;
                padding-top: 22px;
                padding-bottom: 18px;
                margin-bottom: 48px;

                @include gm.pc {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    // padding-top: 22px;
                    // padding-bottom: 18px;
                    font-size: gs.$fz14;
                    margin-bottom: 0;
                padding-top: 19px;
                }

                dt {
                    font-size: gs.$fz16;
                    font-weight: 700;
                    margin-bottom: 16px;

                    @include gm.pc {
                        width: 16%;
                        font-size: gs.$fz14;
                        font-weight: 400;
                        margin-bottom: 0;
                        padding-top: 3px;

                        &:last-of-type {
                            padding-top: 5px;
                        }
                    }
                }

                dd {
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 28px;
                    flex-direction: column;

                    p:first-of-type {
                        // margin-right: 23px;
                        @include gs.ul;
                        width: 50px;
                        margin: 0 auto 8px;
                        // width: 100%;

                        @include gm.pc {
                        margin: 0 auto;

                        }
                    }

                    @include gm.pc {

                        width: 80%;
                        // display: flex;
                        padding-bottom: 13px;
                        padding-left: 28px;
                        border-left: 2px solid #E7E7E7;
                        flex-direction: row;

                        &:first-of-type {
                        padding-top: 3px;

                        }

                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            margin-left: 16%;
                        }

                        &:nth-of-type(3) {
                            margin-bottom: 29px;
                            padding-bottom: 6px;
                        }

                        p:first-of-type {
                            margin-right: 23px;
                            margin-left: 0;
                            width: auto;
                            // @include gs.ul;
                        }


                        p:nth-child(2) {
                            margin-right: 17px;
                        }

                        &:last-of-type {
                            padding-bottom: 4px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }


        .tel {
            justify-content: center;
            margin-top: 20px;

            @include gm.pc {
                justify-content: start;
            }
        }

        small {
            font-size: gs.$fz11;

            @include gm.pc {
                position: absolute;
                right: 0;
                margin-top: 22px;
            }
        }
    }
}