// メインフォント
$main-font: 'Noto Sans JP', sans-serif;

//サブフォント
// $sub-font: 'Noto Sans JP', sans-serif;


//フォントサイズ
$fz11: calc(11 / 16 * 1rem);
$fz12: calc(12 / 16 * 1rem);
$fz13: calc(13 / 16 * 1rem);
$fz14: calc(14 / 16 * 1rem);
$fz16: calc(16 / 16 * 1rem);
$fz20: calc(20 / 16 * 1rem);
$fz24: calc(24 / 16 * 1rem);
$fz28: calc(28 / 16 * 1rem);


//clamp関数設定
@function rclamp($min, $max, $minViewport, $maxViewport) {
    $vwScale: (
        $max - $min) / ($maxViewport - $minViewport
    ); // vw単位でのスケールを計算
$baseOffset: $min - $minViewport * $vwScale; // 基準となる最小値からのオフセットを計算

$minRem: $min / 16; // 最小値をremに変換
$maxRem: $max / 16; // 最大値をremに変換
$baseOffsetRem: $baseOffset / 16; // オフセットをremに変換
$vwScaleRem: $vwScale * 100; // vwスケールを調整

@return clamp(#{$minRem}rem, #{$baseOffsetRem}rem + #{$vwScaleRem}vw, #{$maxRem}rem);
}

// font-size: gs.rclamp(20, 28, 900, 1500);
